
<%= image_tag('indexVerlauf.png') %>
<div class="kasten">
  <div class="indexItem">
      <h2><%= I18n.t("index_who") %></h2>
      <%= image_tag ('whoi.jpg') %>
      <p><%= I18n.t("index_text_who") %><br /><br /><%= link_to I18n.t("mehr"), general_about_path %></p>
  </div>

  <div class="indexItem">
      <h2><%= I18n.t("index_artists") %></h2>
      <%= image_tag ('artists.jpg') %>
      <p><%= I18n.t("index_text_a") %><br /><br /><%= link_to I18n.t("mehr"), general_about_path %></p>
  </div>

  <div class="indexItem">
      <h2><%= I18n.t("index_philosophy") %></h2>
      <%= image_tag ('philosophy.jpg') %>
      <p><%= I18n.t("index_text_p") %><br /><br /><%= link_to I18n.t("mehr"), general_about_path %></p>
  </div>

  <div class="clear"></div>
</div>

