<div id="divPictureNr<%=@picture.id%>" class="BildFloatLeft">
  <%= image_tag @picture.avatar.url %>
  <p>  <%= @picture.name %> </p>
  <%= link_to 'Bearbeiten', edit_picture_path(@picture) %> |
  <%= link_to 'L&ouml;schen', @picture, confirm: 'Bist Du sicher?', method: :delete %>
</div>

